<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>External Portal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    {% load static %}
    <!--srart theme style -->

</head>

<body>
    <!-- jp popular Categories Wrapper Start -->

                                <form class="profileFrm bordered-input" name="form_data" method="POST">
                                    {% csrf_token %}
      <label for="fna">First Name</label>
        <input class="form-control" id="fna" placeholder="First Name" name="first_name" type="text" />
<label for="lna">Last Name</label>
        <input class="form-control" id="lna" placeholder="Last Name" name="last_name" type="text" />
<label for="email">Email</label>
        <input class="form-control" id="email" placeholder="Email" name="email_id" type="text" />


                <button type="submit" class="btn btn-default">Submit</button>                            </form>

</body>
</html>
